.menuStyles { 
    background-color: #2E578B;
    display: flex;
    flex: 1 1 auto;
    padding: 5%;
    color:white;
    flex-direction: column;
}

.menu-title {
    display: flex;
    flex: 0 1 20%;
    border-bottom: 3px dotted rgba(255,255,255, 0.2);
}

.menu-options { 
    display: flex;
    flex: 1 1 100%;
    padding-top: 10%;
}