.nav-styles {
    display: flex;
    flex: 0 0 5%;
    background-color: #4480C5;
    color: white;
    font-size: 1.2em;
}

.nav-content { 
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.img-avatar {
    border-radius: 50%;
    width: 50px;
    padding-right: 10%;
}

.avatar-box {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
}