body, html {
  display: flex;
  height: 100%;
  margin: 0;
  flex: 1 1 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root { 
  display: flex;
  flex: 1 0 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-app { 
  display: flex;
  flex: 1 0 100%;
  height: 100%;
}

.menu-app {
  display: flex;
  flex: 1 1 25%;
}

.body-home-app {
  display: flex;
  flex: 1 1 100%;
}

.deselected { 
  color: #ABBCD0;
}